/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   Default Mobile First Styles
   ========================================================================== */
h1, h2 {
  font-family: 'Lobster Two', cursive; }

h3, h4, nav a, li {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 0; }

.fancybox-inner figure {
  max-height: 90vh;
  max-width: 75vw;
  padding: 3%; }
  .fancybox-inner figure img {
    max-width: 75vw;
    max-height: 75vh;
    display: block;
    margin: 0 auto; }
  .fancybox-inner figure figcaption {
    margin: 1%; }

figcaption a {
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #1a1718;
  border-radius: 30px;
  border: 3px solid #1a1718;
  margin-left: 3%; }
  figcaption a:hover {
    color: #f5354d; }

nav {
  height: 100%; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%; }
    nav ul a {
      text-decoration: none;
      color: white;
      font-size: 18px; }
      nav ul a:hover, nav ul a.selected {
        color: #f76678; }
    nav ul li {
      cursor: pointer;
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      height: 100%;
      color: white;
      border: 1px solid #6b5f63;
      border-top: none;
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: 18px;
      line-height: 2; }
      nav ul li:hover, nav ul li.selected {
        color: #f76678;
        background-color: #50474a; }
      nav ul li:last-child {
        border-bottom: 1px solid #ab74ff; }

body {
  background-color: white;
  margin: 0;
  padding: 0; }
  body .wrapper {
    margin: 0;
    padding: 0;
    width: 100%; }
  body header {
    width: 100%;
    padding: 0;
    background-color: #352f31; }
    body header h1 {
      display: inline-block;
      padding: 0 0 0 3%;
      margin: 0;
      color: #f76678;
      font-size: 36px;
      font-weight: lighter; }
  body main {
    padding: 3%;
    background-color: white; }
    body main #all-work {
      font-size: 0.000em; }
      body main #all-work .gallery-item, body main #all-work .gap {
        width: 50%;
        padding: 0;
        margin: 0 auto;
        display: none;
        position: relative; }
        body main #all-work .gallery-item img, body main #all-work .gap img {
          width: 100%; }
        body main #all-work .gallery-item .img-title, body main #all-work .gap .img-title {
          opacity: .9;
          top: 0;
          margin: 0;
          height: 100%;
          width: 100%;
          text-align: center;
          position: absolute;
          display: none;
          background-color: #50474a; }
          body main #all-work .gallery-item .img-title h4, body main #all-work .gap .img-title h4 {
            font-size: 18px;
            font-weight: lighter;
            font-family: 'Open Sans', sans-serif;
            position: absolute;
            color: white;
            top: 33%;
            width: 100%;
            text-align: center; }
    body main .panels img {
      width: 100%; }
    body main #about h2 {
      margin: 2% 0 0 0;
      padding: 0;
      font-size: 36px;
      font-weight: lighter;
      color: #1a1718;
      font-family: "Lobster Two", cursive; }
    body main #about p {
      color: #1a1718; }
    body main #about img {
      width: 100%;
      margin: 3% 0; }
    body main #about .skills {
      margin: 0; }
      body main #about .skills img {
        height: 50px;
        width: auto; }
  body footer {
    padding: 3%;
    /*20/340*/
    background-color: #50474a;
    color: white; }
    body footer img {
      width: 7%;
      text-align: left;
      margin: 0 1% 0 0;
      padding: 0%;
      float: left; }
      body footer img:hover, body footer img.selected {
        border-radius: 20px;
        background-color: #f5354d; }
      body footer img:last-child {
        display: block; }
    body footer p {
      text-align: center;
      display: inline-block;
      position: relative;
      font-size: 12px;
      width: 57%; }
    body footer #top {
      width: 10%;
      color: white;
      text-align: right;
      font-size: 12px;
      margin: 3% 0;
      float: right;
      text-decoration: none;
      vertical-align: middle; }
      body footer #top:hover {
        color: #f5354d; }

/* ==========================================================================
   Media Query for Tablet Layout.
   ========================================================================== */
@media only screen and (min-width: 700px) {
  body {
    background: white; }
    body header {
      padding: 0%;
      /*20/660*/
      height: 56px;
      display: inline-block;
      position: fixed;
      z-index: 2000; }
      body header h1 {
        padding: 0 2%; }
      body header nav {
        margin-right: 3%;
        width: 51%;
        display: block;
        float: right; }
        body header nav ul {
          width: 100%; }
          body header nav ul a {
            /*display: block;*/
            border: 0px;
            margin-right: 5%; }
          body header nav ul li {
            line-height: 55px;
            float: right;
            /*vertical-align: text-bottom;*/
            display: inline-block;
            margin: 0 auto;
            border: 0px;
            padding: 0 2%; }
            body header nav ul li:last-child {
              border: 0px; }
    body .wrapper {
      margin: 0;
      padding: 0;
      width: 100%; }
      body .wrapper main {
        padding: 5.5% 3%;
        width: 94%; }
        body .wrapper main #all-work {
          margin: 3%; }
          body .wrapper main #all-work .gallery-item, body .wrapper main #all-work .gap {
            width: 25%; }
            body .wrapper main #all-work .gallery-item .img-title h4, body .wrapper main #all-work .gap .img-title h4 {
              font-size: 20px; }
        body .wrapper main #about div {
          display: inline-block;
          width: 60%;
          margin: 0; }
          body .wrapper main #about div h2 {
            margin: 0;
            width: 60%;
            padding: 0px;
            display: inline-block;
            margin: 1% 0; }
          body .wrapper main #about div p {
            width: 100%;
            margin: 0;
            line-height: 30px;
            font-size: 18px;
            display: inline-block;
            vertical-align: top; }
          body .wrapper main #about div .skills {
            width: 100%; }
            body .wrapper main #about div .skills img {
              margin: 0px;
              height: 50px;
              width: auto; }
        body .wrapper main #about img {
          margin: 0 0 0 3%;
          width: 36%;
          display: inline-block;
          vertical-align: top; }
      body .wrapper footer {
        padding: 3%;
        /*20/660*/ }
        body .wrapper footer img {
          width: 4%;
          float: left; }
        body .wrapper footer p {
          font-size: 14px;
          /*margin: 0 30%;*/
          width: 75%;
          margin: 0; }
        body .wrapper footer #top {
          margin: 0;
          width: 10%;
          float: right;
          font-size: 14px; } }
/* ==========================================================================
   Media Query for Desktop.
   ========================================================================== */
@media only screen and (min-width: 1000px) {
  body header nav {
    width: 37%; }
  body .wrapper main #all-work .gallery-item, body .wrapper main #all-work .gap {
    width: 20%; }
  body .wrapper footer {
    /*20/660*/ }
    body .wrapper footer img {
      width: 2.5%; }
    body .wrapper footer a {
      font-size: 18px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
