nav{
    height: 100%;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;     
        a{
            // width: 100%;
            text-decoration: none;
            color: white;
            font-size: 18px;
            &:hover, &.selected{
                color: lighten($highlight-color, 10%);
            }
        }
        li{  
            cursor: pointer;
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
            color: white;
            border: 1px solid lighten($dark-color, 30%);
            border-top: none;
            display: block;
            //originally hyperlink styling
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            line-height: 2;
            &:hover, &.selected{
                color: lighten($highlight-color, 10%);
                background-color: lighten($dark-color, 20%);
            }
            
            &:last-child{
                // border-bottom: 1px solid lighten($highlight-color, 10%);
            }
        }
    }
} 