nav{
    ul{
        list-style: none;
        margin:0;
        padding:0;
        background-color: red;
        a{
            // width: 100%;
            text-decoration: none;
            color: #333333;
            &:hover, &.selected{
                color: white;
            }
        }
        li{
            list-style: none;
            display:block;
            margin:0;
            padding:0;
            // background-color: green;
            border: 1px solid #333333;
            border-top: none;
            display:block;
            //originally hyperlink styling
            // margin:0;
            // padding:0;
            background-color: white;
            color:#333333;
            text-decoration: none;
            text-align: center;
            font-size:24px;
            line-height: 2;
            font-weight:bold;
            &:hover, &.selected{
                background: -webkit-linear-gradient(black, #333333); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(black, #333333); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(black, #333333); /* For Firefox 3.6 to 15 */
                background: linear-gradient(black, #333333); /* Standard syntax */
                background-color: #333333;
                color:white;
            }
            
            &:last-child{
                border-bottom: 1px solid #333333;
            }

        }
    }
} 