/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "default";

/* ==========================================================================
   Author's custom styles
   Default Mobile First Styles
   ========================================================================== */
// font styles
h1{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
h2,h3, nav a, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
h2, h3{
    margin: 3%;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: light;
    margin: 3%;
}

//nav styling
@import "nav";

//main styling
body{
    background-color: #DDDDDD;
    margin:0;
    header{
        padding: 3%; /*20/340*/
        background: -webkit-linear-gradient(#333333, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#333333, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#333333, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#333333, black); /* Standard syntax */
        background-color: #333333;
        color: white;
        h1{
            padding: 0;
            margin: 0;
        }
    }
    main{
        padding: 0;
        background-color: white;
        h2{
            padding:0 5.8824%; /*20/340*/
        }
        &>div{
            margin: 0 0 20px;
            // padding: 20px 5.8824%; /*20/340*/
            background-color:#EEEEEE;
        }
        #all-work{
            background-color: blue;
            display: flex;
            flex-flow: row wrap;
            // flex-direction: row;
            // flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 49.31%;
                // flex-basis: 49%;
                padding: 0;
                margin: 0 auto;
                display: none;
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        #about{
            img{
                width: 100%;
            }
        }
    }
    footer{
        padding: 20px 5.8824%; /*20/340*/
        background: -webkit-linear-gradient(#333333, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#333333, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#333333, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#333333, black); /* Standard syntax */
        background-color: #333333;
        color: white;
        text-align: right;
        a{
            color: white;
        }
    }
}


/* ==========================================================================
   Media Query for Tablet Layout.
   ========================================================================== */

@media only screen and (min-width: 700px) {

    header{
        padding: 20px 3.03030303%; /*20/660*/
    }
    body{
        .wrapper{
            nav{
                    ul{
                        li{
                        display: inline-block;
                        }
                    }
                }
            }
        main{
            padding: 10px 1.515151%; /*10/660*/
            h2{
                padding:0 1.5625%; /*10/640*/
            }
            
            #all-work{
                img{
                    width: 33.3%;
                }
            }
            #about{
                width: 100%;
                img{
                    width: 50%;
                }
                p{
                    width: 50%;
                }
                // margin: 10px 1.5625%; /*10/640*/
                // padding:10px 1.5625%; /*10/640*/
                // width: 50%; /*280/640*/
            }
        }

        footer{
             padding: 20px 3.03030303%; /*20/660*/
        }
    }
}

/* ==========================================================================
   Media Query for Desktop.
   ========================================================================== */

@media only screen and (min-width: 1000px) {

    header{
        padding: 20px 2.04081%; /*20/980*/
    }

    .wrapper{
        width:98%;
        max-width:1400px;
    }

    main{
        padding: 10px 1.02%; /*10/980*/
    }

    main>div{
        // width:29.16666%; /*280/960*/
        margin: 10px 1.04166666%; /*10/960*/
        padding:10px 1.04166666%; /*10/960*/
    }

     footer{
        padding: 20px 2.04081%; /*20/980*/
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

@import "helper";

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@import "print"
