/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "default";

/* ==========================================================================
   Author's custom styles
   Default Mobile First Styles
   ========================================================================== */
// font styles
h1{
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
h2,h3, nav a, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
h2, h3{
    margin: 3%;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: light;
    margin: 3%;
}

//nav styling
@import "nav";

//main styling
body{
    background-color: #DDDDDD;
    margin:0;
    header{
        padding: 3%; /*20/340*/
        background: -webkit-linear-gradient(#333333, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#333333, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#333333, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#333333, black); /* Standard syntax */
        background-color: #333333;
        color: white;
        h1{
            padding: 0;
            margin: 0;
        }
    }
    main{
        padding: 0;
        background-color: white;
        h2{
            padding:0 5.8824%; /*20/340*/
        }
        &>div{
            margin: 0 0 20px;
            // padding: 20px 5.8824%; /*20/340*/
            // background-color:#EEEEEE;
        }
        #all-work{
            // background-color: blue;
            display: flex;
            flex-flow: row wrap;
            // flex-direction: row;
            // flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 49.31%;
                // flex-basis: 49%;
                padding: 0;
                margin: 0 auto;
                display: none;
                flex-grow: 1;
                flex-shrink: 1;
            }
        }
        #about{
            img{
                width: 100%;
            }
        }
    }
    footer{
        padding: 3%; /*20/340*/
        background: -webkit-linear-gradient(#333333, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#333333, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#333333, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#333333, black); /* Standard syntax */
        background-color: #333333;
        color: white;
        img{
            width: 10%;
            text-align: left;
            margin: 0;
            padding: 0;
            &:last-child{
                display: block;
            }
        }
        p{
            text-align: center;
            display: inline-block;
            position: relative;
            font-size: 12px;
        }
        a{
            color: white;
            text-align: right;
            display: inline-block;
            position: relative;
            font-size: 12px;
            margin-left: 10%;
        }
    }
}


/* ==========================================================================
   Media Query for Tablet Layout.
   ========================================================================== */

@media only screen and (min-width: 700px) {

    header{
        padding: 20px 3.03030303%; /*20/660*/
    }
    body{
        .wrapper{
            nav{
                ul{
                    background-color: white;
                    li, a{
                        display: inline-block;
                        width: 19.44%;
                        margin: 0 auto;
                        border: 0px;
                    }
                }
            }
        }
        main{
            padding: 0;
            // background-color: blue;
            // padding: 10px 1.515151%; /*10/660*/
            h2{
                padding:0 1.5625%; /*10/640*/
            }
            
            #all-work{
                img{
                    width: 33.3%;
                }
            }
            #about{
                width: 100%;
                padding: 20px 3.03030303%;
                // background-color: purple;
                h3{
                    font-size: 32px;
                    margin: 0px 0px 10px 0px;
                }
                img{
                    width: 45%;
                    display: inline-block;
                    vertical-align: top;
                    // background-color: blue;
                }
                p{
                    width: 45%;
                    margin: 0px 0px 0px 10px;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: top;
                    // background-color: red;
                }
                // margin: 10px 1.5625%; /*10/640*/
                // padding:10px 1.5625%; /*10/640*/
                // width: 50%; /*280/640*/
            }
        }

        footer{
            padding: 20px 3.03030303%; /*20/660*/
            img{
                width: 5%;
            }
            p{
                font-size: 18px;
                margin: 0 25%;
            }
            a{
                font-size: 18px;
            }
        }
    }
}

/* ==========================================================================
   Media Query for Desktop.
   ========================================================================== */

@media only screen and (min-width: 1000px) {

    body{
        .wrapper{
            width:100%;
            max-width:1400px;
            header{
                padding: 20px 2.04081%; /*20/980*/
            }
            main{
                // padding: 10px 1.02%; /*10/980*/
                #allwork{
                    img{
                        width: 20%;
                    }
                }
            }
            footer{
                padding: 20px 2.04081%; /*20/980*/
                img{
                    width: 3.5%;
                }
                p{
                    margin: 0 30%;
                }
            }
        }
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

@import "helper";

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@import "print"
